<div class="col-12">
    <p-tabMenu styleClass="mt-6" [model]="items"></p-tabMenu> 
    @if (actionSelect == 0) {
        <div class="field md:col-4">
            <label htmlFor="type">Tipo de movimiento</label>
            <p-dropdown
                id="type"
                [options]="typeOfAnimalFoodRegister"
                [(ngModel)]="typeOfAnimalFoodRegisterSelected">
            </p-dropdown>
        </div>
        <form [formGroup]="AnimalFoodCageMovementForm">
            <div class="field md:col-4">
                <label htmlFor="amount">Cantidad de concentrado</label>
                <p-inputNumber [minFractionDigits]="2" mode="decimal" id="amount" formControlName="amount" type="number"></p-inputNumber>
            </div>
        </form>
    }
    @else if (actionSelect == 1) {
        <div class="field md:col-4">
            <label htmlFor="type">Tipo de movimiento</label>
            <p-dropdown
                id="type"
                [options]="typeOfAnimalRegister"
                [(ngModel)]="typeofAnimalRegisterSelected">
            </p-dropdown>
        </div>
            @if (typeofAnimalRegisterSelected == 0) {
                <form [formGroup]="addAnimalCageMovementForm">
                    <div class="field md:col-3">
                        <label htmlFor="amount">Cantidad de animales</label>
                        <p-inputNumber id="amount" formControlName="animals_amount" type="text"></p-inputNumber>
                    </div>
                </form>
            } @else if(typeofAnimalRegisterSelected > 0) {
                <form [formGroup]="deleteAnimalCageMovementForm" class="p-fluid p-formgrid grid field">
                
                    <div class="field md:col-3">
                        <label htmlFor="weight">Peso del animal</label>
                        <p-inputNumber [minFractionDigits]="2" mode="decimal" id="weight" formControlName="weight" type="text"></p-inputNumber>
                    </div>
                    <div class="field md:col-3">
                        <label htmlFor="age">Semanas</label>
                        <p-inputNumber [min]="0" id="age" formControlName="age" type="number" />
                    </div>
                </form>
            }
            
    }

    <div class="flex flex-wrap gap-2 layout-footer">
        <button type="submit" class="p-button-info p-button-text" (click)="close.emit()" pButton>Regresar</button>
        <button pButton type="submit" class="p-button-success submit-form-login" (click)="registerMovement()" label="Guardar"></button>
    </div>
</div>
