<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div class="card page p-fluid ">
            <div class="card text-center mb-5 change-password-img">
                <img src="assets/demo/images/login/logoumg.png" alt="logoUmg" height="200" >
            </div>
            <form action="GET" class="field">
                <div class="field">
                    <label htmlFor="name1">Contraseña actual</label>
                    <input pInputText id="name1" type="password" />
                </div>
                <div class="field">
                    <label htmlFor="email1">Nueva contraseña</label>
                    <input pInputText id="email1" type="password" />
                </div>
                <div class="field">
                    <label htmlFor="age1">Confirmar nueva contraseña</label>
                    <input pInputText id="age1" type="password" />
                </div>
                <div class="field">
                    <button type="submit" class="submit-form-login" pButton pRipple label="Cambiar contraseña" [routerLink]="['/modulos/inicio']" ></button>
                </div>
            </form>
        </div>
    </div>  
</div>