<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="col-12 md:col-6">
        <div class="text-center mb-5 login">
            <div class="p-fluid card">
                <h2 class="text-900">Ingresar</h2>
                <form class="field" [formGroup]="formLogin">
                    <span class="p-float-label">
                        <input formControlName="username_form" id="username" class="login-form-input" type="text" pInputText/>
                        @if (formLogin.get('username_form')?.hasError('required') ) {
                            <label for="username" class="p-error">Ingrese su usuario</label>
                        }
                        @else {
                            <label for="username" class="p-error">Ingrese su usuario</label>

                        }
                    </span>
                    
                    <span class="p-float-label p-input-icon-right">
                        @if (!seePassword) {
                            <input formControlName="password_form" id="password" class="login-form-input" type="password" pInputText />
                            @if (formLogin.get('password_form')?.hasError('required')) {
                                <label for="password" class="p-error">Ingrese su contraseña</label>
                            }
                            @else {
                                <label for="password" class="p-error">Ingrese su contraseña</label>
    
                            }
                            <i class="pi pi-eye" (click)="changePasswordView()"></i>
                            
                        }
                        @else {
                            <input formControlName="password_form" id="password" class="login-form-input" type="text" pInputText/>
                            @if (formLogin.get('password_form')?.hasError('required')) {
                                <label for="password" class="p-error">Ingrese su contraseña</label>
                            }
                            @else {
                                <label for="password" class="p-error">Ingrese su contraseña</label>
    
                            }
                            <i class="pi pi-eye-slash" (click)="changePasswordView()"></i>
                            
                        }
                    </span>
                    
                    <button (click)="iniciarSesion()" type="submit" class="submit-form-login" pButton pRipple label="Ingresar"></button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="card text-center mb-5">
                <img src="assets/demo/images/login/logoumg.png" alt="Logo" height="550" class="mb-3">
        </div>
    </div>
    <p-dialog [(visible)]="displayDialog" [modal]="true" showEffect="fade" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}">
        <app-error/>
    </p-dialog>
</div>