<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="col-12 md:col-6">
            <div class="text-center mb-5 login">
                <div class="p-fluid card">
                    <h2 class="text-900">Ingresar</h2>
                    <form action="GET" class="field">
                        <span class="p-input-icon-left login-form-input">
                            <i class="pi pi-user"></i>
                            <input class="login-form-input" type="text" pInputText placeholder="Usuario"/>
                        </span>
                        <span class="p-input-icon-left login-form-input">
                            <i class="pi pi-lock"></i>
                            <input class="login-form-input" type="password" pInputText placeholder="Contraseña"/>
                        </span>
                        <button type="submit" class="submit-form-login" pButton pRipple label="Ingresar" [routerLink]="['/modulos/inicio']" ></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6">
            <div class="card text-center mb-5">
                <img src="assets/demo/images/login/logoumg.png" alt="Logo" height="550" class="mb-3">
            </div>
        </div>
</div>