<div class="grid">
    <div class="col-12">
        <form name="createform" class="p-fluid p-formgrid grid field" [formGroup]="createCageForm">
            <div class="field col-12 md:col-6">
                <label htmlfor="code">Codigo</label>
                <input pInputText type="text" formControlName="code">
            </div>
            <div class="field col-12 md:col-6">
                <label htmlfor="name">Nombre</label>
                <input pInputText type="text" formControlName="name">
            </div>
            <div class="field col-12">
                <label htmlFor="observations">Observaciones</label>
                <input pInputText type="text" formControlName="observations">
            </div>
            <div class="field-checkbox col-12">
                <input type="checkbox" formControlName="active" id="active">
                <label for="active">Activado</label>
            </div>
        </form>
        <div class="flex flex-wrap gap-2 layout-footer">
            <button type="submit" class="p-button-info p-button-text" (click)="close.emit()" pButton>Salir</button>
            <button pButton type="submit" class="p-button-success submit-form-login" (click)="createCage()" label="Crear"></button>
        </div>
    </div>
</div>